<!-- view mask markup [VM] -->
<div class="app">
    <div class="title">ComponentJS Demo: Crazy Hyper-Login Dialog</div>
    <div class="reset" ng-click="reset()">RESET</div>
    <table>
        <tr>
            <td><div ui-view="login1"></div></td>
            <td><div ui-view="login2"></div></td>
        </tr>
        <tr>
            <td><div ui-view="login3"></div></td>
            <td><div ui-view="login4"></div></td>
        </tr>
    </table>
    <div class="status">{{dataStatus}}</div>
</div>